<!DOCTYPE html>
<html>
   <head>
      <title>Search Restaurant</title>
      <style>
         table, th, td {
	 border: 1px solid white;
         border-collapse: collapse;
         }
      </style>
   </head>

<body>
<h1>Search Restaurant</h1>

   <form action="/search" method="post" enctype="multipart/form-data">
      <table>
         <tr>
            <td><label for="resName">Restaurant Name: <%= resName %></label></td>
         </tr>
	 <tr>
            <td><label for="borough">Borough: <%= borough %></label></td>
	 </tr>
	 <tr>
	    <td><label for="cuisine">Cuisine: <%= cuisine %></label><br><br></td>
	 </tr>
	<tr>
	    <td><%= restaurants.length %> restaurant(s) matches.</td>
	 </tr>
	<tr>
	<ul><td>
            <% for (var i of restaurants) { %>
                 <li><a href="/detail?_id=<%= i._id %>"><%= i.resName %></a></li>
             <% } %>
        </td></ul>
	</tr>
	<tr>
	     <td><a href=/search><button>Back</button></a></td>
	</tr>
</table>

</form>
   </body>

</html>


