<!DOCTYPE html>
<html>
   <head>
      <title>Search Restaurant</title>
      <style>
         table, th, td {
	 border: 1px solid white;
         border-collapse: collapse;
         }
      </style>
   </head>

<body>
<h1>Search Restaurant</h1>

   <form action="/search" method="post" enctype="multipart/form-data">
      <table>
         <tr>
            <td><label for="resName">Restaurant Name: <%= resName %></label></td>
         </tr>
	 <tr>
            <td><label for="borough">Borough: <%= borough %></label></td>
	 </tr>
	 <tr>
	    <td><label for="cuisine">Cuisine: <%= cuisine %></label><br><br></td>
	 </tr>
	<tr>
	    <td><%= restaurants.length %> restaurant(s) matches.</td>
	 </tr>
	<tr>
	<ul><td>
            <% for (var r of restaurants) { %>
            <li><a href="/display?_id=<%= r.resID %>"><%= r.resName %></a></li>
            <% } %>
        </td></ul>
	</tr>
	<tr>
	     <td><button onclick="Back()">Back</button></td>
	</tr>
</table>

</form>

      <script>
            function Back() {window.history.back();}
      </script>
   </body>

</html>


